* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Typography */
  --family: 'Josefin Sans', sans-serif;
  --fs: 18px;
  --fw-normal: 400;
  --fw-bold: 700;

  /* Other */
  --radii: 5px;
  --grad: linear-gradient(-30deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%));

  /* Icons */
  --icon-cross: url(/assets/images/icon-cross.svg);
  --icon-check: url(/assets/images/icon-check.svg);
}
